* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  background: #2874f0;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  color: white;
}

.navbar input {
  width: 40%;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.nav-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* CATEGORY BAR */
.categories {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background: white;
  font-weight: bold;
}
.categories:hover{
  color:dimgray;
}

/* BANNER */
.banner {
  height: 300px;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
  text-align: center;
  padding-top: 80px;
}

.banner button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: white;
  font-weight: bold;
  cursor: pointer;
}

/* PRODUCTS */
.products {
  padding: 20px;
}

.product-grid {
  display: flex;
  gap: 20px;
}

.card {
  width: 200px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

.card img {
  width: 100%;
}

/* APPLIANCES */
.appliances {
  padding: 20px;
  background: #f1f1f1;
}

.appliance-grid {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.appliance-grid div {
  background: white;
  padding: 20px;
  width: 150px;
  text-align: center;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #2874f0;
  color: white;
  margin-top: 20px;
}
#content{
    height:200px;
    width:150px;
    border:2px solid rgb(234, 231, 231);
    border-radius: 10px;
    box-shadow: 18px black;
}
 #cards{
    height:150px;
   width:150px;
   display: flex;
   margin:10px;
   padding: 20px;
} 
.card{
  /* height:100px; */
    border:2px solid rgb(231, 228, 228);
    border-radius: 10px;
    justify-content: space-between;
    margin: 20px;
    padding:20px;
  }
    .card:hover{
      box-shadow: 10px 10px 10px 10px dimgray;
    }
    

.desc{
    border:2px solid rgb(240, 237, 237);

    border-radius: 10px;

}
#container{
     display:flex;
    overflow: auto;
    margin: 10px;
    padding:10px;
   


   
}
#add{
    height:40px;
    width:120%;
    border:2px solid black;
    background-color: yellow;
    margin-bottom: -20px;
     margin-left: -15px;
     flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    margin-top: 25px;
    /* display: inline-block; */
   }

   #add:hover{
    background-color: rgb(245, 229, 5);
   }
#offer{
   height:550px;
    width:100%;
    border:2px solid black;
    background-color: aqua;
    /* grid-template-columns:repeat(4, 1fr); */
    margin:2px;
    /* display:grid; */
    
}
#box-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width:100%;
}
#hr{
    display: flex;
   
   

}
#quard{
    height:280px;
    width:200px;
    border:2px solid rgb(233, 230, 230) ;
    background-color: rgb(242, 238, 244);
    display:flex;

   
   
    
}
#ofer{
    display: flex;
}
#button:hover{
  background-color: lightblue;

}


    
